<div class="container">
    <h1>Add New Student</h1>
    <form (ngSubmit)="onSubmit()" #studentForm="ngForm">

      <div class="form-group">
        <label for="name">Student Name</label>
        <input type="text" id="name" class="form-control" required [(ngModel)]="student.name" name="name" #name="ngModel">
      </div>
      <div class="form-group">
        <label for="surname">Student Surname</label>
        <input type="text" id="surname" class="form-control" required [(ngModel)]="student.surname" name="surname" #surname="ngModel">
      </div>
      <div class="form-group">
        <label for="class">class</label>
        <input type="number" id="class" class="form-control" required [(ngModel)]="student.class" name="class" #class="ngModel">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!studentForm.form.valid">Create</button>
    </form>
  </div>
  